

.img{
    display: flex;
    gap:10px;
    min-width: 160px;
    position: s;
    img{
        width: 70px;
    }
}

.carousel{
    text-align: center;
}
.main-carou{
    position: relative;
    .text{
        h2{
            margin: 0px;
            font-size: large;
        }
        p{
            margin: 0px;
            font-size: small;
        }
        background-color: white;
        width:300px;
       padding: 15px 30px 15px 10px;
       box-shadow: 0px 4px 8px 0px;
        position: absolute;
        top:60px;
        left:60px;
        text-align: start;
    }
    @media only screen and (max-width: 700px) {
        .text{
            display: none;
        }
      }
}
