
.home{
    margin:0px 250px;
    min-height: 80vh;
    background-color: var(--bgSoft);
}
@media only screen and (max-width: 1245px) {
    .home{
        margin:0px 150px;
    }
  }
  @media only screen and (max-width: 1041px) {
    .home{
        margin:0px 50px;
    }
  }
  @media only screen and (max-width: 834px) {
    .home{
        margin:0px 0px;
    }
  }
