.footer{
    display: flex;
    background-color: black;
  
    padding: 20px;
 
    img{
        width: 60px;
        color: #ffffff;
    }
    p{
        font-size: small;
        color: #ffffff;
    }
  }