
.loginn,.register{
    display: flex;
    flex-direction: column;
    margin: 20px 150px;
    padding: 80px;
    text-align: center;
    justify-content: center;
    border: 1px solid gainsboro;
    border-radius: 20px;

}
.parent-login{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

@media only screen and (max-width:600px){
    .loginn,.register{
       margin:0px;
   
       
    }
}