.single-cards{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
   justify-content: center;
    .nocourses{
        font-weight: 600;
        font-size: large;
        margin: 0px;
      }
    padding:20px 0px;
    .card{
        border: 1px solid gainsboro;
        width: 250px;
        background-color: #ffffff;
      border-radius: 10px;
    
        .img{
            width:100%;
            height:50%;
            img{
                width: 100%;
                border-radius: 10px;
            }
        }
        h5,p{
            margin: 0px;

        }
        p{
            font-size: small;
            color: gray;
        }
        .rating{
            display: flex;
            gap:5px;
            b{
                font-size: small;
            }
        }
        .text{
            padding: 5px 20px;
           display: flex;
           flex-direction: column;
           gap:5px;
          
        }
    }
   
}
